project-view {
  display: block;

  & .project-view {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }

  & .project-view-nav {
    font-size: var(--text-sm);
  }

  & .project-view-tasks-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--space-md);
  }
}
